@use 'foundation/all' as *;
@use 'sass:map';

.dse-button-container {
  display: flex;
  background: $btn-primary-bg;
  color: $btn-primary-color;
  border: none;
  padding: map.get($spacing, 'xxxs');
  padding: 0.25rem;
}